---
import Layout from "../layouts/Layout.astro";
import {items} from "../data/items.js";

const {item} = Astro.params

const info = items.find(i => i.id === item)

if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={`${info.title}`}>
  <main class="m-auto max-w-5xl">
    <header>
      <a href="/" type="button" class="fixed top-4 left-4 md:top-8 md:left-8 z-50 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-5 h-5 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
        <span class="sr-only">Icon description</span>
      </a>
      <h1 
          class="font-black scale-90 uppercase text-2xl md:text-4xl text-center pt-8 px-4"
          style="view-transition-name: title"
      >
          Recomendador de
          <span class="block text-[40px] md:text-[60px]">productos</span>
      </h1>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-[350px_1fr] gap-x-12 mt-4 md:mt-20 px-8">
      <div class="flex flex-col">
        <picture class="mb-8 w-full relative bg-white rounded-xl p-4 border-2 border-blue-100">
          <div class="flex justify-center items-center">
            <img 
              class="object-contain h-[344px] w-[354px] rounded" 
              src=`${info.img}` 
              alt={`Producto ${info.title}`}
              style={`view-transition-name: item-${info.id}`}
            />
          </div>
        </picture>
        <div class="flex justify-center mb-8">
          <a href={`${info.url}`} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 justify-center w-40">
            <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
              <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
            </svg>
            Comprar
          </a>
        </div>
      </div>

      <aside>
        <h1 class="text-4xl md:text-5xl font-black mb-6">{info.title}</h1>
        {info.specs.map((spec) => (
          <p class="text-lg">{spec}</p>
        ))}
      </aside>
    </div>
  </main>
</Layout>