---
export interface Props {
    id: string
    type: string
    title: string
    url: string
    img: string
}
const {
    id,
    type,
    title,
    url,
    img
} = Astro.props
---

<a class="flex justify-center items-center flex-col h-full bg-white p-6 pb-12 rounded-xl hover:contrast-125 hover:shadow-xl hover:border-blue-300 hover:scale-105 transition-all border-2 border-blue-100" href={`/${id}`}>
    <h2 class="font-black text-xl mb-4 mt-2">{title}</h2>
    <img 
        class="object-contain h-64 w-60 rounded" 
        src={img} 
        alt={`Producto: /${id}`}
        style={`view-transition-name: item-${id}`}
    />
</a>

